.container {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44vw;
  margin: auto;
}

.component {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot-container {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 35px;
}

.dot {
  height: 1.5vw;
  width: 1.5vw;
  margin: 0 0.5vw;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  border: 2px solid #333;
  background-color: #000000;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #2196f3;
}

button {
  border: none;
  outline: none;
  padding: 0;
  background: none;
}
